*{
    background-color: #f5f5f5;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*header-section*/
header{
    background-color: #f5f5f5;
    overflow: hidden;
    border-top: 30px solid #000000;
}

.header-content{
 display: flex;
 margin-left: 40px;
}

.logo{
    height:50px;
    width: 120px;
    margin: 20px;
    border-radius: 5px;
    padding:5px;
}

.header-text{
    margin-top: 30px ;
    background: transparent;
    text-align: center;
    color:#000000;
}

/*Navigation-bar*/
nav{
    display: flex;
    float: left;
}

.nav-links{
    text-decoration: none;
    margin:20px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 6px;
    padding: 8px;
}

nav a:hover{
    background: #c1a60f;
}

/*header-image*/
.header-img{
    width: 100vw;
    height: 38vw;
    object-fit: cover;
    display:block;
}

/*hero-section*/
.hero{
    margin: 40px;
    text-align: justify;
    font-size: 20px;
}

.hero-text{
    color:#000000;
    background-color: #e0d389;
    padding: 10px;
    border-radius: 5px;
}

.hero-text-heading{
    color: #000000;
    margin-left: 14px;
}

/*API cards*/
.floating-tabs{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 40px;
}

.tab{
    text-decoration: none;
    background-color: #c1a60f;
    color: #000000;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
}

div a:hover{
    background-color: #000000;
    color: #c1a60f;
}

/*information-details*/
.info-details{
    margin: 40px;
    font-size: 18px;
}

.info-details-head{
    color: #c1a60f;
    margin-bottom: 20px;
    text-align: center;
}

.info-details ul{
    display:inline-block;
    margin: 10px auto;
    background-color: #e0d389;
    border-radius: 4px;
    padding:8px;
    text-align: center;
    border:#000000 solid 2px;
}

/*footer-section*/
footer{
    background-color: #000000;
    height:150px;
    border-top:30px solid #4e4d4d;
}

.footer-text{
    background-color: #000000;
    text-align:center;
    padding: 50px;
    font-size: 16px;
    float: center;
    color: #ffffff;
}
