*{
    background-color: #f5f5f5;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

/*header-section*/
header{
    background-color: #f5f5f5;
    overflow: hidden;
    border-top: 30px solid #000000;
}

.header-content{
    display: flex;
    margin-left: 40px;
}

.logo{
    height:50px;
    width: 120px;
    margin: 20px;
    border-radius: 5px;
    padding:5px;
}

.header-text{
    margin-top: 30px ;
    background: transparent;
    text-align: center;
    color:#000000;
}

/*Navigation-bar*/
nav{
    display: flex;
    float: left;
}

.nav-links{
    text-decoration: none;
    margin:20px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 6px;
    padding: 8px;
}

nav a:hover{
    background: #c1a60f;
}

/*FIR-form-section*/
.fir-form{
    margin: 50px auto;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px #0000001a;
}

.fir-form h2{
    text-align: center;
    margin-bottom: 20px;
    color: #c1a60f;
}

#login-form input , #login-form button, .logout{
    display: flex;
    flex-direction: column;
    margin:20px;
}

#username, #password{
    width:250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#log-in-button{
    width: 270px;
    padding: 10px;
    background-color: #c1a60f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color:#fff;
}

.signup-redirect{
    text-align: center;
    margin-top: 15px;
}

.breaker{
    align-items: center;
    border-bottom: 1px solid #DADDE1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.logout{
    display:flex;
    text-align: center;
    width: 250px;
    padding: 10px;
    background-color: #ffffff;
    color:#c1a60f;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight:bold;
}

.metamask button {
  width: 270px;
  padding: 10px;
  background-color: #c1a60f;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.metamask button:hover {
  background-color: #000000;
  color: #c1a60f;
}
.metamask {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

