*{
    background-color: #f5f5f5;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

/*header-section*/
header{
    background-color: #f5f5f5;
    overflow: hidden;
    border-top: 30px solid #000000;
}

.header-content{
    display: flex;
    margin-left: 40px;
}

.logo{
    height:50px;
    width: 120px;
    margin: 20px;
    border-radius: 5px;
    padding:5px;
}

.header-text{
    margin-top: 30px ;
    background: transparent;
    text-align: center;
    color:#000000;
}

/*Navigation-bar*/
nav{
    display: flex;
    float: left;
}

.nav-links{
    text-decoration: none;
    margin:20px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 6px;
    padding: 8px;
}

nav a:hover{
    background: #c1a60f;
}

/*FIR-registration-form-section*/
.fir-form{
    margin: 50px auto;
    width: 750px;
    height: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px #0000001a;
}

.fir-form label{
    display:block;
    margin-top: 10px;
}

.fir-form-heading{
    text-align: center;
    margin-bottom: 20px;
}

#complaintant-name{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

#complaintant-contact{
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.fir-form h2{
    text-align: center;
    color: #c1a60f;
}

#incident-date, #incident-time{
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.form-group {
  flex: 1;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
}


#incident-location{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

#description{
    width: 100%;
    height: 130px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
}
.button-wrapper{
    text-align: center;
}

#submit-button{
    background-color: #c1a60f;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
