*{
    background-color: #f5f5f5;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

/*header-section*/
header{
    background-color: #f5f5f5;
    overflow: hidden;
    border-top: 30px solid #000000;
}

.header-content{
 display: flex;
 margin-left: 40px;
}

.logo{
    height:50px;
    width: 120px;
    margin: 20px;
    border-radius: 5px;
    padding:5px;
}

.header-text{
    margin-top: 30px ;
    background: transparent;
    text-align: center;
    color:#000000;
}

/*Navigation-bar*/
nav{
    display: flex;
    float: left;
}

.nav-links{
    text-decoration: none;
    margin:20px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 6px;
    padding: 8px;
}

nav a:hover{
    background: #c1a60f;
}
