*{
    background-color: #f5f5f5;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

/*header-section*/
header{
    background-color: #f5f5f5;
    overflow: hidden;
    border-top: 30px solid #000000;
}

.header-content{
 display: flex;
 margin-left: 40px;
}

.logo{
    height:50px;
    width: 120px;
    margin: 20px;
    border-radius: 5px;
    padding:5px;
}

.header-text{
    margin-top: 30px ;
    background: transparent;
    text-align: center;
    color:#000000;
}

/*Navigation-bar*/
nav{
    display: flex;
    float: left;
}

.nav-links{
    text-decoration: none;
    margin:20px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 6px;
    padding: 8px;
}

nav a:hover{
    background: #c1a60f;
}

/*Main-section*/

body {
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
    box-shadow: 0 4px 20px #0000009c;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
  color: #c1a60f;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search-box input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  color: #666;
}

.search-box button {
  padding: 12px 20px;
  background-color: #c1a60f;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.search-box button:hover {
  background-color: #000000;
  color: #c1a60f;
}

.fir-card {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 6px #0000001a;
}

.fir-card h2 {
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.row {
  display: flex;
  margin-bottom: 12px;
}

.label {
  width: 150px;
  font-weight: bold;
}

.status {
  font-weight: bold;
  color: #d97706;
}

.hidden {
  display: none;
}
